{#- thqm template
    args:
        title (str): page title.
        no_qrcode (bool): don't show qrcode button.
        no_shutdown (bool): don't show shutdown button.
        entries (list): list of strings.
        qrcode_svg (str): qrcode svg elements.
        custom_input (bool): show custom inputs field.
-#}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="static/favicon.png" sizes='32x32' />
    <link rel="stylesheet" type="text/css" href="static/index.css" />
    <script defer src="static/fontawesome/all.js"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <a href='/' tabindex='-1' class="title">{{ title }}</a>
        {%- if no_qrcode or no_shutdown -%}
        <div>
        {%- if no_qrcode -%}
          <button class='btn' id='qrcode-btn' tabindex='-1' type='button' title='Show QR code' onclick="document.getElementById('qrcode').style.display='flex'">
            <img src='static/qrcode-icon.svg' width=20 height=20>
          </button>
        {%- endif -%}
        {%- if no_shutdown -%}
          <button class='btn' id='shutdown-btn' tabindex='-1' type='button' title='Shutdown server'
            onclick='fetch("./cmd/shutdown");'>
            <img src='static/power-off-icon.svg' width=20 height=20>
          </button>
        {%- endif %}
        </div>
        {%- endif %}
      </div>
      {%- if custom_input -%}
      <div class="custom-input">
        <form class="custom-input-form">
          <input class="custom-input-input" type="text" id="select" name="select" placeholder="Custom input"/>
          <input type="submit" value="Submit"/>
        </form>
      </div>
      {%- endif -%}
    </header>
    {%- if no_qrcode -%}
    <!-- Modal -->
    <div class="modal" id="qrcode" tabindex="-1" role="dialog" onclick="document.getElementById('qrcode').style.display='none'">
      {{ qrcode_svg | safe }}
    </div>
    <!-- Modal end -->
    {%- endif -%}
    <!-- list of entries-->
    <div class='disable-dbl-tap-zoom grid-container'>
    {%- for e in entries %}
      <div class='grid-item'>
        <button class='btn entry-btn' tabindex=0 role='button' onclick="fetch('./select/' + '{{ e }}')">
          {%- if e | split(pat=" ") | length == 1 -%}
          {%- set e = 'fas ' ~ e -%}
          {%- endif -%}
          <i class='{{ e }} entry-icon'></i>
        </button>
      </div>
    {%- endfor %}
    </div>
  </body>
  <script>
    // Get the entries buttons
    var button = Array.from(document.getElementsByClassName("entry-content"));
    function addEnterToClick(element) {
      element.addEventListener("keyup", function(event) {
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
          event.preventDefault();
          element.click();
        }
      });
    }
    // add the eventListener to all the buttons
    button.map(addEnterToClick);
  </script>
</html>
