{#- thqm template
    Pure html, no bells or whistles.
    args:
        title (str): page title.
        no_qrcode (bool): don't show qrcode on page.
        no_shutdown (bool): don't allow shutdown.
        entries (list): list of strings.
        qrcode_svg (str): qrcode svg elements.
        custom_input (bool): show custom inputs field.
-#}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
    <title>{{ title }}</title>
  </head>

  <body>
    <header>
      <div>
        <h2>{{ title }}</h1>
        {% if not no_qrcode %}
          {{ qrcode_svg | safe }}
        {% endif %}
        {% if not no_shutdown %}
          <a href="./cmd/shutdown">shutdown</a>
        {% endif %}
        {%- if custom_input -%}
        <div>
          <form>
            <input type="text" id="select" name="select" placeholder="Custom input"/>
            <input type="submit" value="Submit"/>
          </form>
        </div>
        {%- endif -%}
      </div>
    </header>
    <hr/>
    {% for e in entries %}
      <a href='./select/{{ e }}'>
        <pre><code>{{ e | safe }}</code></pre>
      </a>
    {% endfor %}
  </body>
</html>
