body {
  font-family: monospace, monospace;
  background-color: #111111;
  color: #eeeeee;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  background: #292929;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.custom-input {
  position: relative;
  align-items: center;
  padding: 1rem 1rem;
  background: #292929;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.custom-input-form {
  text-align: center;
}

.custom-input-input {
  width: 80%;
}

.title {
  text-decoration: none;
  color: #eeeeee;
  font-size: xx-large;
}

.btn {
  background: #343434;
  border-radius: 0.3rem;
  height: 3rem;
  width: 3rem;
  border-style: solid;
  border-color: #343434;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: #eeeeee;
  cursor: pointer;
}
.btn:hover {
  transition: all 0.3s;
  background-color: #444444;
  border-color: #444444;
  box-shadow: 0.2rem 0.2rem 0.1rem 0 #111111;
}
.btn:hover:before {
  transition: all 0.3s;
}

.qr-container {
  text-align: center;
}

.entry-btn {
  width: 25vw;
  height: 25vw;
  padding: 10%;
}

.entry-icon {
  width: 100% !important;
  height: 100% !important;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
}

.grid-item {
  text-align: center;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000082;
  backdrop-filter: blur(0.5rem);
  animation-name: fadeIn;
  animation-duration: 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
